.row
  .column.small-12.text-center
    = image_tag "beret.svg", {class: "beret"} 
.row
  .column.small-12.small-centered.medium-10
    %h1.text-center
      Aprende a desarrollar aplicaciones web de forma rápida, elegante y robusta con Ruby on Rails
.row
  .column.small-12.small-centered.medium-10
    %h2.text-center
      El framework open-source que usan las startups punteras, optimizado para la felicidad del programador y la productividad
.row
  .column.small-12
    %h3.text-center
      En una semana con Raimond García aprenderás haciendo,
      interiorizarás los aspectos fundamentales de Rails.
      Al salir del taller estarás listo para desarrollar aplicaciones reales.

.row.video
  .column.small-12.medium-8.medium-centered
    .flex-video.vimeo.cover
      %iframe{:allowfullscreen => "",                      |
              :frameborder => "0",                         |
              :height => "	",                             |
              :mozallowfullscreen => "",                   | 
              :src => "//player.vimeo.com/video/60122989", |
              :webkitallowfullscreen => "", :width => "100%"} 

.row.cities-select.-top
  = render 'shared/cities'

.row.tesmonials
  .column.small-12.medium-5.medium-offset-1
    .column.small-12
      %blockquote
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. 
        %footer
          "Fulanito Gómez, Developer"
  .column.small-12.medium-5.medium-pull-1
    .column.small-12
      %blockquote
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. 
        %footer
          "Fulanito Gómez, Developer"

.row.biography
  .column.small-12.medium-10.medium-centered
    %h2
      Más que un profesor, un amigo
  .column.small-12.medium-7.medium-offset-1
    %p Raimond Garcia lleva desarrollado aplicaciones web con Ruby on Rails desde hace 10 años.
    %p Cofundador de <a href="http://proruby.com" target="_blank">ProRuby</a> y de la Conferencia Bla bla bla de Madrid, otra credencial, otra credencial. Le encanta ver que los alumnos entienden el material de clase, ¡y que le cuenten que <strong>desde que trabajan con Ruby on Rails son más felices!</strong>
  .column.medium-4.show-for-medium-only
  .column.small-12.show-for-small-only
    %img{src:"http://lorempixel.com/800/500"}

.row.course-outline
  .column.small-12.medium-8.medium-centered
    %h2.text-center
      Un taller en el que a los 15 minutos de empezar ya estarás peleándote con el código
  .column.small-12
    .small-12.small-centered.medium-6.medium-offset-3
      = image_tag "logo_ruby.jpg" 
  .column.small-12.medium-8.medium-centered
    %p
      Raimond Garcia lleva desarrollado aplicaciones web con Ruby on Rails desde hace 10 años.
    %p
      Cofundador de <a href="http://proruby.com" target="_blank">ProRuby</a> y de la <a href="#" target="_blank">Conferencia Bla bla bla</a> de Madrid, otra credencial, otra credencial. Le encanta ver que los alumnos entienden el material de clase, ¡y que le cuenten que desde que trabajan con Ruby on Rails son más felices!
  
.row.cities.-bottom
  = render 'shared/cities'

%footer.text-center
  = render "shared/footer"

     

